<!DOCTYPE html>
<html>
	<head>
		<title>Quitiweb - CV</title>
		<meta charset="utf-8">
		{% load staticfiles %}
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Fichiers CSS -->
		<link rel="icon" type="image/gif" href="{% static 'qwsite/img/QW_icon.png' %}">
		<link rel="stylesheet" href="{% static 'qwsite/css/reset.css' %}">
		<link rel="stylesheet" media="screen and (max-width:480px)" href="{% static 'qwsite/css/mobile.css' %}">
		<link rel="stylesheet" media="screen and (min-width:481px)" href="{% static 'qwsite/css/cv.css' %}">
		<link rel="stylesheet" media="print" href="{% static 'qwsite/css/print.css' %}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
	</head>

	<body>
	{% for cv in cv_list %}
	{% if cv.activo %}

		<!-- Header -->
		<header role="banner">
			<div class="container_16">
					<hgroup>
						<h1>{{ cv.name }}</h1>
						<h2>{{ cv.title }}</h2>
					</hgroup>
	
					<figure>
						<img src="https://drive.google.com/uc?id={{ cv.profilePicture }}" alt="{{ cv.name }}">
					</figure>
			</div>
		</header>

		<!-- Contact Form -->
		<section class="contactform clearfix">
			<div class="container_16">
				<h3><i class="fas fa-times"></i>Contact me</h3>
				<p>I will answer you as soon as possible 
				<br><em>Every field are required</em></p>
				<form novalidate="novalidate" method="post" name="contact" class="grid_16">
					{% csrf_token %}
					<p class="grid_10">{{ form.message }}</p>
					<p class="grid_6">
						{{ form.subject }}
						{{ form.from_email }}
						<input name="send" value="Send the message" class="required" type="submit">
						<span class="messageform"></span>
					</p>
				</form>
			</div>
		</section>

		<!-- Corps -->
		<section role="main" class="container_16 clearfix">
			<div class="grid_16">
				<!-- About Me -->
				<div class="grid_8 apropos">
					<h3><i class="fas fa-user-tie"></i>About Me</h3>
					<p>{{ cv.aboutMeTitle }}</p>
					<p>{{ cv.aboutMeDescription }}</p>
				</div>

				<!-- Competences -->
				<div class="grid_8 competences">
					<h3><i class="fas fa-wrench"></i>Skills</h3>
					<ul class="barres">
						{% for sk in cv.skills.all %}
							<li data-skills="{{ sk.level }}">{{ sk.title }}<span style="width: {{ sk.level }}%;"></span></li>
						{% endfor %}
					</ul>
				</div>
			</div>

			<!-- Experience -->
			<div class="grid_16 experiences">
				<h3><i class="fas fa-suitcase"></i>Experience</h3>
				<i class="exp fas fa-angle-right fa-2x"></i>
				<ul class="moreExperience">
					{% for xp in cv.experience.all %}
						<li>
							<h4><strong>{{ xp.title }}</strong> {{ xp.role }}</h4>
							<span class="dates"><i class="far fa-calendar-alt"></i>From {{ xp.fromDate }}</span>
							<span class="dates"><i class="far fa-calendar-alt"></i>To {{ xp.toDate }}</span>
							<span class="lieu"><i class="fas fa-map-marker-alt"></i>{{ xp.place }}</span>
							{% if xp.remote %}<span class="lieu"><i class="fas fa-wifi"></i>Remote</span>{% endif %}
							<p>{{ xp.description | safe | linebreaks }}</p>
						</li>
					{% endfor %}
				</ul>
			</div>

			<!-- Education -->
			<div class="grid_16 education">
				<h3><i class="fas fa-user-graduate"></i>Education</h3>
				<i class="ed fas fa-angle-right fa-2x"></i>
				<ul class="moreEducation">
					{% for ed in cv.education.all %}
						<li>
							<h4><strong>{{ ed.title }}</strong> {{ ed.universityCollege }}</h4>
							<span class="dates"><i class="far fa-calendar-alt"></i>{{ ed.year }}</span>
						</li>
					{% endfor %}
				</ul>
			</div>

			<div class="grid_16">
				<!-- Training -->
				<div class="grid_8 training">
					<h3><i class="fas fa-laptop-code"></i>Training/Continuing Education</h3>
					<i class="tr fas fa-angle-right fa-2x"></i>
					<div class="moreTraining">
						{% for tr in cv.training.all %}
							<p>{{ tr.course }}</p>
							<span class="lieu">{{ tr.company_vendor }}</span>
						{% endfor %}
					</div>
				</div>

				<!-- Contact -->
				<div class="grid_8 contact">
					<h3><i class="fas fa-at"></i>Contact</h3>
					<p>If you are interested on my profile, contact me</p>
					<ul>
						<li class="lieu"><i class="fas fa-map-marker-alt"></i>Malaga, Spain</li>
						<li class="phone">+34 673 17 81 98</li>
						<li class="mail"><a href="mailto:rafa@quitiweb.com">rafa@quitiweb.com</a></li>
						<li class="site"><a href="https://pph.me/quitiweb">PeoplePerHour</a></li>
						<li class="form"><h4><a class="toContactform">Contact Form</a></h4></li>
					</ul>
				</div>
			</div>
		</section>


		<!-- Scripts JavaScript -->
		<script src="{% static 'qwsite/js/jquery-1.js' %}"></script>
		<script src="{% static 'qwsite/js/validate.js' %}"></script>
		<script src="{% static 'qwsite/js/plugins.js' %}"></script>

	{% else %}
		<!-- Header -->
		<header role="banner">
			<div class="container_16">
				<hgroup>
					<h1>No CV has been selected as Active</h1>
					<h2>Please, go to the <a href="/admin">Admin</a> section to activate one CV</h2>
				</hgroup>

				<figure>
					<img src="https://drive.google.com/uc?id=1o0iN5mg9JyB-Z9bAiunKB4De0Xl7-CTS" alt="Your Profile Pic">
				</figure>
			</div>
		</header>
	{% endif %}
	{% endfor %}
	</body>
</html>