{% extends "qwsite/base.html" %}

{% load static %}

{% block content %}

	<!-- Header -->
		<header id="header">
			<img id="QLogo" class="QLogo" title="Quitiweb" src="{% static 'qwsite/img/QW_Logo_white.png' %}" alt="Quitiweb" />
			<h2>{{ cv.name }}</h2>
			<p>{{ cv.title }}</p>
			<p>Python &nbsp;&bull;&nbsp; Django &nbsp;&bull;&nbsp; JavaScript &nbsp;&bull;&nbsp; HTML5 &nbsp;&bull;&nbsp; CSS3 &nbsp;&bull;&nbsp; Ajax</p>

			<nav>
				<ul>
					<li><a href="https://twitter.com/Quitiweb" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
					<li><a href="https://www.linkedin.com/in/rafaelruizromero" class="icon fa-linkedin" target="_blank"><span class="label">Linkedin</span></a></li>
					<li><a href="https://www.instagram.com/quiti.kites/" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
					<li><a href="mailto:quiti@quitiweb.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
				</ul>
				<ul>
					<li><a href="/cv" class="icon fa-file-text-o" target="_blank"><span class="label">CV</span></a></li>
					<!-- <li><a href="https://pph.me/quitiweb" class="far fa-meh-blank" target="_blank"><span class="label">PeoplePerHour</span></a></li> -->
				</ul>
			</nav>
		</header>

{% endblock %}